---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Projects";
import Workpost from "../components/Navigation.astro";
const allPosts = Object.values(
    import.meta.glob("./posts/*.md", { eager: true }),
);
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Here is a gallery of all my previous works.</h2>

    <ul>
        {
            allPosts.map((post: any) => (
                <Workpost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
